.cards {
  cursor: pointer;
  img {
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }
  .card-face {
    position: absolute;
    backface-visibility: hidden;
    &.card-back-face {
      background-color: white;
    }
    img {
      height: 120px;
      width: 140px;
    }
  }
  .is-flipped {
    transform: rotateY(180deg);
  }

  // .card-font-face {
  //   background-color: white;
  // }
}
